name: CI
on:
  push:
    branches:
      - master
jobs:
  deploy:
    runs-on: ubuntu-18.04
    steps:
      - name: deploy
        uses: actions-hub/gcloud@323.0.0
        env:
          PROJECT_ID: ${{ secrets.GCLOUD_PROJECT }}
          APPLICATION_CREDENTIALS: ${{ secrets.GCLOUD_AUTH }}
        with:
          args: compute ssh ${{ secrets.GCLOUD_INSTANCE }} --command 'cd /home/exaego/exaego && git pull && export NVM_DIR='/home/exaego/.nvm' && [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh" && pm2 restart exaego' --force-key-file-overwrite --strict-host-key-checking=no --zone ${{ secrets.GCLOUD_ZONE }} --project ${{ secrets.GCLOUD_PROJECT }} --quiet
